@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600');

body {
  background-color: #aaa;
}
.main-body {
  background-color: #fff;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
.text-muted.slogan {
  p {  margin-top: 15px; color: #fff; font-style: italic;}
}
table { margin-top: 5px; margin-left: 5px; margin-right: 5px; text-align: center; margin: 0;}
td {font-family: 'Nunito Sans', sans-serif;}
th {font-family: 'Nunito Sand', sans-serif; font-weight: 600; text-align: center;}
.dem {color: #fff; font-family: inherit; font-weight: bold; background-color: #4a86e8;}
.rep {color: #fff; font-family: inherit; font-weight: bold; background-color: #990000;}
.pind {color: #000; font-family: inherit; font-weight: bold; background-color: #93c47d;}
.cind {color: #000; font-family: inherit; font-weight: bold; background-color: #ec9f2f;}
.prog-demo { background-color: #ddebf7;}
.modr-demo { background-color: #f2f2f2;}
.cons-demo { background-color: #fce4d6;}
.nav { a { font-size: 20px; font-family: 'Oswald', sans-serif;}}
.title{ color: #10155e;}
.tite-master{ h3 { margin-top: 20px !important;} }