{% extends 'seatportal/basefiles.html'%}

<head>
  {% block dependencies %}
  {% endblock %}
</head>

{% block content %}
<h1 class="text-xs-center">USG Senate Seat Portal</h1>
<div class="container">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-md-8 text-xs-center">
      <h4>Party Filters:</h4>
        <p>
            <input type="button" class="btn btn-danger" id="republican" value="Republican Seats">
            <input type="button" class="btn btn-info" id="normal" value="Full List">
            <input type="button" class="btn btn-primary" id="democratic" value="Democratic Seats">
        </p>
    <h4>Class Filters:</h4>
        <p>
            <input type="button" class="btn btn-info" id="cl1" value="Class I">
            <input type="button" class="btn btn-info" id="cl2" value="Class II">
            <input type="button" class="btn btn-info" id="cl3" value="Class III">
        </p>
    <h4>Other Filters & Info:</h4>
    <input type="button" class="btn btn-default" id="vacant" value="Vacant Seats">
    <button type="button" class="btn btn-default" value="USG Home"><a href="http://usgovsim.net/PRC/" style="color: #000;">USG Home</a></button>
      </p>
      <div class="card">
        {% if count == True %}
        <p>
          <h2>Summary:</h2>
          <h5>Republican Seats: <small>{{ cgop }}</small><br/> Democratic Seats: <small>{{ cdem }}</small>  <br/>Independent Seats: <small>{{ cind }}</small></h5>
          <h5>Vacant Seats: <small>{{ cvac }}</small></h5>
        </p>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="table">
      <table class="table table-striped table-hover">
        <thead class="inverse">
            <th>State:</th>
            <th>Class:</th>
            <th>Party:</th>
            <th>Holder:</th>
            <th>PROG:</th>
            <th>MODR:</th>
            <th>CONS:</th>
        </thead>
        <tbody>
          {% for seat in s %}
          <tr>
              <td>{{ seat.get_state_display }} ({{ seat.state }})</td>
              <td>{{ seat.sclass }}</td>
              <td class="{% if seat.party == "D" %} dem {% elif seat.party == "R" %} rep {% elif seat.party == "C-IND" %} cind {% elif seat.party = "P-IND"%} pind {% endif %}">{{ seat.get_party_display}}</td>
              <td>{{ seat.user }}</td>
              {% for dem in demos %}
              {% if dem.state == seat.state %}
              <td class="prog-demo">{{ dem.demographic_p }}</td>
              <td class="modr-demo">{{ dem.demographic_m }}</td>
              <td class="cons-demo">{{ dem.demographic_c}}</td>
              {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
            
        </tbody>
        </table>
      </div>
</div>

{% endblock %}